<div class="header">
  <h1>八方财富网</h1>
  <p style="font-size: 20px;">便利，好用的看盘网站</p>
  </div>
  
  <div class="row">
  <div class="col-3 col-m-3 menu">
  <ul>
  <li routerLink="/student">自选股票</li>
  <li routerLink="/student/detail">股票资讯</li>
  </ul>
  </div>
  <div class="col-6 col-m-9">
    <router-outlet>
    </router-outlet>
  </div>
  
  <div class="col-3 col-m-12">
  <div class="aside">
  <h2>哪些股票将暴涨?</h2>
  <p>中国原油期货即将破茧而出 机构热情高涨</p>
  <h2>购买指基</h2>
  <p>茅台股价大涨！今年营收预增50% 2018年起提价18%</p>
  <h2>指数涨了就能赚钱?</h2>
  <p>中央农村工作会议周四召开 核心内容抢先曝光</p>
  </div>
  </div>
  </div>
  <div class="footer">
  <p>信息网络传播视听节目许可证：09956685号 经营证券期货业务许可证编号：5465465465</p>
  </div>